.advantages
{
    width: 98%;
    max-width: 990px;
    height: auto;
    margin: 0 auto;

    text-align: justify;
}

.advantages__inner-title
{
    font-size: 25px;

    padding-top: 7px;

    text-transform: uppercase;

    color: #3498db;
}

.advantages__inner
{
    display: inline-block;

    width: 290px;

    text-align: center;
    vertical-align: top;
}

.advantages_title
{
    font-size: 15px;
    font-weight: bold;

    margin: 0;
    padding: 22px 0 18px;

    text-transform: uppercase;

    color: #333;
}

.advantages__inner-text
{
    font-size: 13px;
    line-height: 20px;

    margin-top: 0;

    color: #333;
}

.button_view
{
    width: 50px;
    height: 50px;
    margin-top: 8px;

    text-transform: uppercase;

    color: #333;
    border: 1px solid #e6e6e6;
    border-radius: 100%;
    outline: none;
    background: #fff;
}

.button_view:hover
{
    outline: none;
    background: #f7f7f7;
}

.button_view:active
{
    outline: none;
    box-shadow: inset 2px 2px 2px #e6e6e6;
}

.advantages:after
{
    display: inline-block;

    width: 100%;

    content: '';
}

.uline
{
    width: 100%;
    max-width: 1440px;
    height: 1px;
    margin: 15px auto 0;

    color: #f2f2f2;
    background-color: #f2f2f2;
}


@media screen and (max-width: 1000px) and (min-width: 800px)
{
    .advantages
    {
        width: 760px;
    }

    .advantages__inner-title
    {
        font-size: 20px;

        padding: 19px 0 7px;
    }

    .advantages__inner
    {
        display: block;

        width: 760px;
        margin-bottom: 35px;

        text-align: left;
    }

    .advantages__image
    {
        float: left;

        padding-right: 22px;
    }

    .advantages_title
    {
        padding: 0 0 18px;
    }

    .button_view
    {
        margin-top: 0;
    }
    .uline
    {
        width: 760px;
        margin: -31px auto 0;
    }
}

@media screen and (max-width: 799px) and (min-width: 320px)
{
    .advantages
    {
        width: 300px;

        text-align: center;
    }

    .advantages__inner-title
    {
        font-size: 20px;

        padding-top: 10px;
    }

    .advantages__inner
    {
        display: block;

        margin: 30px auto 38px;
    }

    .advantages_title
    {
        padding: 19px 0 16px;
    }
}
