.relative
{
    position: relative;

    height: auto;
    min-height: 251px;
}

.intro__inner-welcome-block
{
    width: 100%;
    max-width: 1440px;
    height: auto;
    min-height: 351px;
    margin: 0 auto;

    color: #fff;
    background: url(../images/bg_intro.png) no-repeat center center;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}

h2
{
    font-size: 50px;

    margin: 0;
    padding-top: 65px;

    text-transform: uppercase;
}

.intro__description
{
    font-size: 30px;
    line-height: 40px;

    width: 550px;
    margin: 5px 0 0;
}

.intro__inner-about-block
{
    width: 100%;
    max-width: 1440px;
    height: auto;
    min-height: 250px;
    margin: 0 auto;

    color: #333;
    background: #f2f2f2;
}

.intro__about-title
{
    font-size: 15px;
    font-weight: bold;

    margin: 0;
    padding-top: 25px;

    text-transform: uppercase;
}

.intro__about-description
{
    font-size: 13px;
    line-height: 20px;

    width: 580px;
    margin-top: 17px;
}

.intro__form
{
    position: absolute;
    right: 0;
    bottom: 36px;

    width: 360px;

    text-align: center;

    background: #fff;
    box-shadow: 0 5px 0 0 #3498db;
}

.form-title
{
    font-size: 25px;
    font-weight: normal;

    text-transform: uppercase;

    color: #333;
}

input
{
    font-size: 15px;

    box-sizing: border-box;
    width: 320px;
    height: 35px;
    margin-bottom: 10px;
    padding-left: 13px;

    color: #333;
    border: 1px solid #e6e6e6;
    outline: none;
    background: #f2f2f2;
}

.select-item
{
    background: url(../images/select_arrow.png) no-repeat 292px #f2f2f2;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: none\0;
}

textarea
{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;

    box-sizing: border-box;
    width: 320px;
    height: 75px;
    margin-bottom: 9px;
    padding-top: 10px;
    padding-left: 13px;

    color: #333;
    border: 1px solid #e6e6e6;
    outline: none;
    background: #f2f2f2;
}

input[placeholder],
textarea[placeholder]
{
    color: #333;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder
{
    color: #333;
}
input::-moz-placeholder,
textarea::-moz-placeholder
{
    color: #333;
}
input:-moz-placeholder,
textarea:-moz-placeholder
{
    color: #333;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder
{
    color: #333;
}

.intro__form-button
{
    font-size: 25px;

    width: 220px;
    height: 50px;
    margin: 20px auto 30px;

    color: #fff;
    border: none;
    background: #e74c3c;
}

.intro__form-button:hover
{
    background: #da4434;
}

.intro__form-button:active
{
    outline: none;
    background: #da4434;
    box-shadow: inset 3px 3px 3px #961204;
}


@media screen and (max-width: 1000px) and (min-width: 800px)
{
    h2
    {
        font-size: 45px;

        padding-top: 85px;
    }

    .intro__description
    {
        font-size: 25px;
        line-height: 36px;

        width: 380px;
    }

    .intro__about-description
    {
        width: 380px;
    }

    .intro__form
    {
        bottom: 30px;

        width: 340px;
    }

    .form-title
    {
        font-size: 20px;
        font-weight: normal;

        padding: 10px 0 2px;
    }

    input
    {
        width: 300px;
        height: 35px;
        margin-bottom: 11px;
    }
    
    .select-item
    {
        background: url(../images/select_arrow.png) no-repeat 270px #f2f2f2;
    }
    
    textarea
    {
        width: 300px;
        height: 75px;
    }

    .intro__form-button
    {
        font-size: 20px;

        width: 200px;
        height: 50px;
        margin: 15px auto 36px;
    }

    .intro__form-button:hover
    {
        background: #da4434;
    }
}


@media screen and (max-width: 799px) and (min-width: 320px)
{
    h2
    {
        font-size: 40px;

        padding-top: 15px;

        text-align: center;
    }

    .intro__about-title
    {
        padding-top: 396px;

        text-align: center;
    }

    .intro__description
    {
        font-size: 16px;
        line-height: 28px;

        width: 250px;
        margin: 6px auto 0;

        text-align: center;
    }

    .intro__about-description
    {
        width: 270px;
        margin: 0 auto;
        padding-top: 17px;
        padding-bottom: 33px;

        text-align: center;
    }

    .intro__form
    {
        bottom: 300px;

        width: 300px;
    }

    .form-title
    {
        font-size: 20px;
        font-weight: normal;

        padding: 12px 0 5px;
    }

    input
    {
        width: 260px;
        height: 35px;
        margin-bottom: 10px;
    }

    .select-item
    {
        background: url(../images/select_arrow.png) no-repeat 230px #f2f2f2;
    }
    
    textarea
    {
        width: 260px;
        height: 75px;
    }

    .intro__form-button
    {
        margin: 17px auto 29px;
    }
}
