.start-relative
{
    position: relative;

    height: auto;
    min-height: 190px;
}

.start-block
{
    width: 100%;
    max-width: 1440px;
    height: auto;
    min-height: 190px;
    margin: 0 auto;

    background: #f2f2f2;
}

.start-button
{
    font-size: 25px;

    position: relative;

    width: 540px;
    height: 58px;
    margin: 70px auto 0;
    padding-right: 50px;

    text-transform: uppercase;

    color: #fff;
    border: none;
    outline: none;
    background: #e74c3c;
}

.start-button:hover
{
    outline: none;
    background: #da4434;
}

.start-button:active
{
    outline: none;
    background: #da4434;
    box-shadow: inset 3px 3px 3px #961204;
}

.start-block__man
{
    position: absolute;
    right: 25px;
    bottom: 0;
}

.start-button:after
{
    position: absolute;
    right: 22px;
    bottom: 12px;

    width: 32px;
    height: 32px;

    content: '';

    background: url(../images/arrow_button_start.png) no-repeat 0 0;
}


@media screen and (max-width: 1000px) and (min-width: 800px)
{
    .start-button
    {
        font-size: 20px;

        position: relative;

        width: 468px;
        padding-right: 62px;
    }

    .start-button:after
    {
        position: absolute;
        right: 31px;
        bottom: 11px;

        width: 32px;
        height: 32px;

        content: '';

        background: url(../images/arrow_button_start.png) no-repeat 0 0;
    }

    .start-block__man
    {
        right: 3px;
    }
}

@media screen and (max-width: 799px) and (min-width: 320px)
{
    .start-block
    {
        height: 240px;
    }

    .start-relative
    {
        height: 225px;
    }
    .start-block__man
    {
        z-index: 1;
        right: 0;
        bottom: 0;
        left: 0;

        margin: 0 auto;
    }

    .start-button
    {
        font-size: 20px;
        line-height: 30px;

        z-index: 3;

        width: 290px;
        height: 68px;
        margin: 45px auto 0;
        padding: 14px 20px 116px;
    }

    .start-button:after
    {
        position: absolute;
        right: 0;
        bottom: 13px;
        left: 0;

        width: 32px;
        height: 32px;
        margin: 0 auto;

        content: '';

        background: url(../images/arrow_button_start.png) no-repeat 0 0;
    }
}
