.contacts
{
    position: relative;

    width: 100%;
    height: 345px;
}

.contact__map
{
    position: absolute;
    top: 0;
    right: 0;

    overflow: hidden;

    width: 50%;
}

.contact__inner
{
    width: 82%;
    max-width: 1024px;
    margin: 0 auto;
}

.contact__inner_list
{
    font: 14px/30px 'Open Sans', sans-serif;

    margin: 0 0 0 15px;
    padding-top: 40px;

    list-style: none;

    color: #666;
}

.contact__place:before
{
    position: absolute;

    display: block;

    width: 23px;
    height: 31px;
    margin-left: -55px;

    content: ' ';

    background: url(../images/sprite_ver.png) 0 73px;
}

.contact__phone
{
    padding-top: 10px;
}

.contact__phone:before
{
    position: absolute;

    display: block;

    width: 23px;
    height: 26px;
    margin-left: -55px;

    content: ' ';

    background: url(../images/sprite_ver.png) 0 42px;
}

.contact__email a,
.contact__phone a
{
    text-decoration: none;

    color: #666;
}

.contact__email a:hover,
.contact__phone a:hover
{
    text-decoration: underline;

    color: #3070a8;
}

.contact__email:before
{
    position: absolute;

    display: block;

    width: 23px;
    height: 16px;
    margin-top: 7px;
    margin-left: -55px;

    content: ' ';

    background: url(../images/sprite_ver.png) 0 16px;
}

.contact__social_networks
{
    margin-top: 30px;

    list-style: none;
}

.contact__facebook
{
    position: absolute;

    display: block;

    width: 47px;
    height: 47px;
    margin-left: -40px;

    background: url(../images/sprite_gor.png) 0 0;
}

.contact__twitter
{
    position: absolute;

    display: block;

    width: 47px;
    height: 47px;
    margin-left: 30px;

    background: url(../images/sprite_gor.png) 93px 0;
}

.contact__linkedin
{
    position: absolute;

    display: block;

    width: 47px;
    height: 47px;
    margin-left: 100px;

    background: url(../images/sprite_gor.png) 46px 0;
}

.copyright
{
    width: 100%;
    height: 105px;
    margin: 0;

    background-color: #3070a8;
}

.copyright__inner
{
    font: 14px/30px 'Open Sans', sans-serif;

    width: 380px;
    margin: 0 auto;
    padding-top: 25px;

    text-align: center;

    color: #fff;
}

.copyright__company_bold
{
    font-weight: bold;
}

.copyright__company_black
{
    font-weight: bold;

    color: #1d1c1c;
}



@media screen and (max-width: 900px) and (min-width: 700px)
{
    .contact__map
    {
        height: 270px;
    }

    .contacts
    {
        height: 270px;
    }

    .contact__inner_list
    {
        font: 12px/25px 'Open Sans', sans-serif;

        padding-top: 30px;
    }

    .contact__facebook
    {
        width: 34px;
        height: 34px;

        background: url(../images/sprite_gor2.png) 0 0;
    }

    .contact__twitter
    {
        position: absolute;

        display: block;

        width: 33px;
        height: 35px;
        margin-left: 7px;

        background: url(../images/sprite_gor2.png) 66px 0;
    }

    .contact__linkedin
    {
        position: absolute;

        display: block;

        width: 34px;
        height: 35px;
        margin-left: 52px;

        background: url(../images/sprite_gor2.png) 33px 0;
    }

    .copyright
    {
        height: 75px;
    }

    .copyright__inner
    {
        font: 12px/22px 'Open Sans', sans-serif;

        width: 340px;
        padding-top: 16px;
    }
}

@media screen and (max-width: 699px)
{
    .contact__map
    {
        position: relative;

        width: 100%;
        height: 200px;
    }

    .contact__inner
    {
        width: 90%;
    }

    .contacts
    {
        height: auto;
    }

    .contact__inner_list
    {
        font: 11px/16px 'Open Sans', sans-serif;

        padding-top: 20px;
    }

    .contact__social_networks
    {
        width: 100px;
        margin: 10px auto 50px;
    }

    .contact__facebook
    {
        width: 30px;
        height: 30px;

        background: url(../images/sprite_gor3.png) 0 0;
    }

    .contact__twitter
    {
        position: absolute;

        display: block;

        width: 30px;
        height: 30px;
        margin-left: 7px;

        background: url(../images/sprite_gor3.png) 58px 0;
    }

    .contact__linkedin
    {
        position: absolute;

        display: block;

        width: 30px;
        height: 30px;
        margin-left: 52px;

        background: url(../images/sprite_gor3.png) 29px 0;
    }

    .copyright
    {
        height: 60px;
    }

    .copyright__inner
    {
        font: 10px/18px 'Open Sans', sans-serif;

        width: 260px;
        padding-top: 10px;
    }

    .contact__place:before
    {
        position: absolute;

        display: block;

        width: 12px;
        height: 16px;
        margin-top: -10px;
        margin-left: -22px;

        content: ' ';

        background: url(../images/sprite_ver2.png) 0 111px;
    }

    .contact__phone
    {
        padding-top: 10px;
    }

    .contact__phone:before
    {
        position: absolute;

        display: block;

        width: 12px;
        height: 13px;
        margin-left: -22px;

        content: ' ';

        background: url(../images/sprite_ver2.png) 0 132px;
    }

    .contact__email a,
    .contact__phone a
    {
        text-decoration: none;

        color: #666;
    }

    .contact__email a:hover,
    .contact__phone a:hover
    {
        text-decoration: underline;

        color: #3070a8;
    }

    .contact__email:before
    {
        position: absolute;

        display: block;

        width: 12px;
        height: 8px;
        margin-top: 4px;
        margin-left: -22px;

        content: ' ';

        background: url(../images/sprite_ver2.png) 0 8px;
    }
}
