@font-face
{
    font-family: Futura;

    src: url(fonts/futuralightc.otf);
}

@font-face
{
    font-family: Futura-Bold;

    src: url(fonts/futura-md-bt-bold.ttf);
}

div.intro
{
    overflow: hidden;

    width: 100%;

    text-align: center;

    color: #fff;
    background: url(../images/intro.jpg) repeat center center;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}

h1.intro__title
{
    font-family: Futura-Bold, 'Open Sans', sans-serif;
    font-size: 48px;

    margin: 0;
    padding-top: 130px;

    text-transform: uppercase;
}

h1.intro__title span.intro__title-first
{
    font-family: Futura, 'Open Sans', sans-serif;
    font-size: 36px;
    font-weight: normal;

    text-transform: none;
}

p.intro__annotation
{
    font: italic 20px/30px Calibri, sans-serif;

    width: 585px;
    margin: 20px auto 0;
}

div.intro > div
{
    margin-top: 60px;
}

.button__intro
{
    font: 16px/0 'Open Sans', sans-serif;

    width: 240px;
    height: 60px;
    margin-bottom: 45px;

    text-transform: uppercase;

    color: #ececec;
    border: 1px solid #98aabd;
    background: transparent;
}

.button__intro:hover
{
    cursor: pointer;

    box-shadow: 0 0 6px #bbdef3;
}

@media screen and (max-width: 900px) and (min-width: 700px)
{
    h1.intro__title
    {
        font-size: 30px;

        padding-top: 90px;
    }

    h1.intro__title span.intro__title-first
    {
        font-size: 30px;
    }

    p.intro__annotation
    {
        font: italic 16px/25px Calibri, sans-serif;

        width: 65%;
        margin: 20px auto 0;
    }

    div.intro > div
    {
        margin-top: 30px;
    }

    .button__intro
    {
        font: 14px/0 'Open Sans', sans-serif;

        width: 180px;
        height: 50px;
        margin-bottom: 35px;
    }
}

@media screen and (max-width: 699px)
{
    h1.intro__title
    {
        font-size: 21px;

        padding-top: 50px;
    }

    h1.intro__title span.intro__title-first
    {
        font-size: 18px;
    }

    p.intro__annotation
    {
        font: italic 13px/20px Calibri, sans-serif;

        width: 65%;
        margin: 15px auto 0;
    }

    div.intro > div
    {
        margin-top: 20px;
    }

    .button__intro
    {
        font: 12px/0 'Open Sans', sans-serif;

        width: 160px;
        height: 44px;
        margin-bottom: 25px;
    }
}
